#customize-control-savilerow_global_favicon .customize-control-title:after,
#customize-control-savilerow_global_apple_icon .customize-control-title:after,
#customize-control-copyright_text_control .customize-control-title:after,
#customize-control-savilerow_retina_logo .customize-control-title:after,
#customize-control-twitter:before,
#customize-control-background_color:after
{
    clear: both;
	font-size:12px;
	font-style:italic;
	display:block;
	color:#888;
}

#customize-control-copyright_text_control .customize-control-title:after{
    content:"Simple HTML is allowed <a>, <strong>";
}
#customize-control-savilerow_global_favicon .customize-control-title:after{
	content:"Suggested dimensions 16x16, 32x32 or 48x48 pixels. .ico or .png format";
}
#customize-control-savilerow_global_apple_icon .customize-control-title:after{
	content:"Suggested dimensions 180x180 or 192x192 pixels. .png format";
}

/*
 * Pro Messages
 */

#customize-control-twitter:before,
#customize-control-savilerow_hero_image_control:before,
#customize-control-savilerow_logo:before,
#customize-control-header_background_color_control:before,
#accordion-section-savilerow_header_section:before{
	background: rgb(204, 75, 75);
	color: #fff;
	text-align: center;
	padding: 0.5em;
	display: inline-block;
	margin:1em 0 2em;
}
#customize-control-twitter:before,
#customize-control-savilerow_hero_image_control:before,
#customize-control-savilerow_logo:before,
#customize-control-header_background_color_control:before,
#accordion-section-savilerow_header_section:before{
	content:"More options in Pro Version";
}
#accordion-section-savilerow_header_section:before{
  margin-left:1em;
}

/* Pro Message in Customizer */
.savilerow-customize-plus,
.savilerow-customize-plus:hover,
.savilerow-customize-plus:focus{
	background: rgb(204, 75, 75);
	color: #fff;
	text-align: center;
	padding: 0.2em 0.7em;
	display: inline-block;
	margin: 1em 0 2em;
}
.savilerow-customize-plus:after{
	content: "➚";
	padding-left: 0.5em;
}

#accordion-section-savilerow_pro h3.accordion-section-title,
#accordion-section-savilerow_pro.control-section-default.open h3.accordion-section-title,
#customize-theme-controls #accordion-section-savilerow_pro h3.accordion-section-title:focus{
	background: #0a4d6d;
	color: #fff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#accordion-section-savilerow_pro h3.accordion-section-title:after,
#accordion-section-savilerow_pro.control-section-default.open h3.accordion-section-title:after,
#customize-theme-controls #accordion-section-savilerow_pro h3.accordion-section-title:focus:after{
	color:#fff;
}
